@using System.Web.Mvc.Html
@using System.Web.Mvc
@using System.Web.UI.WebControls
@using AfternoonDelight.Feature.Media.Models
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model AfternoonDelight.Feature.Media.Models.HotspotImageRenderingModel

<div class="hotspot-image" @Html.Sxa().Component("image", Model.Attributes)>
    @Model.MessageIsEmpty
    <p>@Model.ImageTitle</p>
    <div class="hotspot-image__image">
        @Model.Image
        <span class="hotspot-image__hotspot  hotspot-image__hotspot--active a">
        </span>
        <span class="hotspot-image__hotspot b"></span>
        <span class="hotspot-image__hotspot  hotspot-image__hotspot--large c"></span>
    <div>
        @if (Model.HasImageDescription || (!Model.HasImageDescription && Html.Sxa().IsEdit))
        {
            <span class="image-caption">
                @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                {
                    @Html.Sitecore().Field("ImageDescription", Model.GetRenderingWebEditingParams())
                }
                else
                {
                    @Html.Sitecore().Field("ImageDescription")
                }
            </span>
        }
    <div>
        @foreach (HotspotModel hotspotModel in Model.Hotspots)
        {
            <div>
                @hotspotModel.Title
                @hotspotModel.Description
                @hotspotModel.Icon
                @hotspotModel.LocationX
                @hotspotModel.LocationY
            </div>
        }
    </div>
<div>
