@using System.Web.Mvc.Html
@using System.Web.Mvc
@using System.Web.UI.WebControls
@using AfternoonDelight.Feature.Media.Models
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model AfternoonDelight.Feature.Media.Models.HotspotImageRenderingModel

<div class="hotspot-image" @Html.Sxa().Component("image", Model.Attributes) data-hotspot-image-id="@Model.Id" data-database-name="@Model.DatabaseName">
    <div class="hotspots-controls">
        <a href="#" class="hotspots-controls__activate">Add hotspot</a>
        <a href="#" class="hotspots-controls__deactivate">Remove hotspot</a>
    </div>
    @Model.MessageIsEmpty
    <h2>@Model.ImageTitle</h2>
    
    <div class="hotspot-image__image">
        @Model.Image
        
        <div class="js-hotspots">
            @foreach (HotspotModel hotspotModel in Model.Hotspots)
            {
                <span class="hotspot-image__hotspot" style="top: @hotspotModel.LocationY ; left: @hotspotModel.LocationX ;">
                </span>
            }
        </div>
    </div>

    <div class="hotspot-image__description">
        @if (Model.HasImageDescription || (!Model.HasImageDescription && Html.Sxa().IsEdit))
        {
            if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
            {
                @Html.Sitecore().Field("ImageDescription", Model.GetRenderingWebEditingParams())
            }
            else
            {
                @Html.Sitecore().Field("ImageDescription")
            }
        }
    </div>

    <div>
        @foreach (HotspotModel hotspotModel in Model.Hotspots)
        {
            <div data-hotspot-image-id="@Model.Id">
                @hotspotModel.Title
                @Html.Raw(@hotspotModel.Description)
                @hotspotModel.Icon
                @hotspotModel.LocationX
                @hotspotModel.LocationY
            </div>
        }
    </div>
</div>
<!-- hotspot ENDS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="~/dist/scripts/component-hotspot.js"></script>