@using System.Web.Mvc.Html
@using System.Web.Mvc
@using System.Web.UI.WebControls
@using AfternoonDelight.Feature.Media.Models
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model AfternoonDelight.Feature.Media.Models.HotspotImageRenderingModel

<div class="hotspot-controls">
    <a href="#" class="hotspot-controls__activate">Add hotspot</a>
    <a href="#" class="hotspot-controls__deactivate">Remove hotspot</a>
</div>
<div class="hotspot-image" @Html.Sxa().Component("hotspot-image", Model.Attributes) data-hotspot-image-id="@Model.Id" data-database-name="@Model.DatabaseName">
    @Model.MessageIsEmpty
    <h2>
        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            @Html.Sitecore().Field("ImageTitle", Model.GetRenderingWebEditingParams())
        }
        else
        {
            @Html.Raw(Model.ImageTitle)
        }
    </h2>
    
    <div class="hotspot-image__image">
        @Model.Image
        
        <div class="js-hotspots">
            @foreach (HotspotModel hotspotModel in Model.Hotspots)
            {
                <span class="hotspot-image__hotspot" style="top: @hotspotModel.LocationY% ; left: @hotspotModel.LocationX% ;" data-hotspot-id="@hotspotModel.Id">
                </span>
            }
        </div>
    </div>

    <div class="hotspot-image__description">
        @if (Model.HasImageDescription || (!Model.HasImageDescription && Html.Sxa().IsEdit))
        {
            if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
            {
                @Html.Sitecore().Field("ImageDescription", Model.GetRenderingWebEditingParams())
            }
            else
            {
                @Html.Sitecore().Field("ImageDescription")
            }
        }
    </div>

    <div class="hotspot-item-container">
        @foreach (HotspotModel hotspotModel in Model.Hotspots)
        {
            <div class="hotspot-item" data-hotspot-id="@hotspotModel.Id">
                
                <div class="hotspot-item__icon">
                    @hotspotModel.Icon
                </div>

                <div class="hotspot-item__content">
                    <h2>
                        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                        {
                            @Html.Sitecore().Field("Title", hotspotModel.Item)
                        }
                        else
                        {
                            @Html.Raw(hotspotModel.Title)
                        }
                    </h2>
                    <div>
                        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                        {
                            @Html.Sitecore().Field("Description", hotspotModel.Item)
                        }
                        else
                        {
                            @Html.Raw(hotspotModel.Description)
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
